:root{ 
    --white: #ffffff;
    --todo-main: #f3f4f8;
    --side-bar-main: #fbfaff;
    --todo-green: #005555;
    --todo-light-green: #F3F7FA;
    --milk: #f4f4f4;
    --green-gray: #768396;
    --input-gray: #738383;
}