.input {
    width: 100%;
    border: none;
    border-radius: 7px;
    background: #e8edf1;
    outline: none;
    color: var(--input-gray);
    font-size: 13px;
    line-height: 17px;
    height: 45px;
    padding: 0 10px;
}
.input::placeholder {
    color: var(--input-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
